<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-pictures" version="0.0.1">
  <name>GetPictures</name>
  <description>GetPictures</description>
  <license>Apache 2.0</license>
  <keywords>cordova,GetPictures</keywords>
  <js-module src="www/getpictures.js" name="GetPictures">
    <clobbers target="getpictures" />
  </js-module>
  <!--android平台-->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GetPictures">
        <param name="android-package" value="org.apache.cordova.GetPictures.GetPictures" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <source-file src="src/android/GetPictures.java" target-dir="src/org/apache/cordova/GetPictures" />
  </platform>
  <!--ios平台-->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="getpictures">
        <param name="ios-package" value="CDVGetPictures" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/CDVGetPictures.h" />
    <source-file src="src/ios/CDVGetPictures.m" />
    <framework src="CoreGraphics.framework" />
    <framework src="AVFoundation.framework" />
  </platform>
</plugin>
